*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-style: italic;
    font-family: "Edu TAS Beginner", cursive;
}

header {
    font-family: "Sometype Mono", monospace;
    font-style: italic;
    background-image: url(../img/wall.png);
    padding: 1rem;

    h1{
        font-size: 3rem;
        font-weight: bold;
    }
}

main{
    background-image: url(../img/cork.png);

    .photo{
        border: 1px solid white;

        .image{
            height: 100px;
            width: 100px;
        }
    }
}